{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ career-profile.title }}
  </h2>

  <div class="summary">
    {{ career-profile.summary | markdownify }}
    <p>
    Currently seeking <b>new opportunities</b> in the <b>Cybersecurity and Risk Management domain</b> to contribute to building secure and compliant organizational environments.
    If you’re interested in my profile, please reach out at <b>mathura.varshineee@gmail.com</b>.
    <br>
    <!-- Flashy call-to-action button -->
  <a href="https://drive.google.com/file/d/1WqD36FRb8q2Z9XBVmxDiwkncrG1jCSsG/view?usp=sharing" target="_blank" rel="noopener noreferrer"
   style="display:inline-block;
          margin-top:12px;
          padding:12px 20px;
          background:linear-gradient(90deg, #455F6B, #2E3F46);
          color:white;
          font-weight:600;
          border-radius:10px;
          text-decoration:none;
          box-shadow:0 4px 12px rgba(0,0,0,0.25);
          transition:all 0.3s ease;">
  📄 View My Resume
  </a>

  <style>
  a:hover {
  background: linear-gradient(90deg, #2E3F46, #1F2B30);
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0,0,0,0.35);
  }
  </style>
    </p>
  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}
